/*-----------------------------------------------*\
    #helpers
\*-----------------------------------------------*/

.container {
  max-width: 34rem;
  margin: 0 auto;
}

// when applied hide the element but respect it's focus and active state
.visually-hidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}

.no-y-scroll {
  overflow-y: hidden;
}
