@use "../../assets/styles/abstracts" as *;

.header {
  &__wrapper {
    @include flexify($al-con: center, $js-con: space-between);
    margin: 2.5rem 0 rem(76px) 0;
    padding: 0 0.3rem;
  }

  &__menu-wrapper {
    display: none;

    &--visible {
      display: block;
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background: var(--very-dark-blue);
      opacity: 0.9;
      padding: rem(105px) rem(35px) 3rem rem(35px);
      @include flexify(
        $al-con: center,
        $js-con: space-between,
        $flex-d: column
      );
      animation: fadeIn;
      animation-duration: 1s;
      z-index: 5;
    }
  }

  &__menu {
    width: 100%;
    text-align: center;

    /* Since the Menu component is meant to be reusable,
    *  specific selectors for the login link can't be hardcoded
    *  instead these selector with higher specificity are used.
    */
    & .header__item:last-child {
      padding: rem(26px) 0;
    }

    & li:last-child > a {
      display: inline-block;
      width: 100%;
      border-radius: 0.3rem;
      border: 2px solid white;
      padding: rem(12px) 0;
      font-weight: 700;
    }
  }

  &__item {
    border-top: 1px solid var(--grayish-blue);
    padding: rem(21px) (10px) (20px) 0;
  }

  &__link {
    color: var(--white);
    text-transform: uppercase;
    font-size: rem(20px);
    letter-spacing: 3px;
  }

  &__icons {
    @include flexify($al-con: center, $js-con: space-between);

    &-item {
      &:hover {
        animation: tada;
        animation-duration: 1s;
      }
    }

    &-item + &-item {
      margin-left: 2rem;
    }
  }

  // tablet view ------------------------------------
  @include respond-to("tablet") {
    &__wrapper {
      padding: 0;
      margin-bottom: rem(99px);
    }

    &__menu-wrapper {
      display: block;
    }

    &__menu {
      @include flexify($al-con: center, $js-con: space-between);

      & .header__item:last-child {
        padding: 0;
      }

      & li:last-child > a {
        padding: 15px 27px;
        color: var(--white);
        transition: border, color 1s ease-in-out,
          background-color 1s ease-in-out;
        border-radius: 0.5rem;
        border: 2px solid transparent;
        position: relative;

        // disabling the underline for the login btn
        &::before {
          display: none;
        }

        &::after {
          content: "";
          position: absolute;
          left: 0;
          top: 0;
          width: 100%;
          height: 100%;
          background: var(--soft-red);
          border-radius: inherit;
          z-index: -1;
          transition: height 0.5s ease-in-out;
        }

        &:hover {
          background: var(--white);
          color: var(--soft-red);
          border-color: var(--soft-red);

          &::after {
            height: 0;
          }
        }
      }
    }

    &__item {
      border: none;
      padding: rem(18px) 0;

      & + & {
        margin-left: 1rem;
      }
    }

    &__link {
      color: var(--black);
      font-size: rem(10px);
      font-weight: 500;
      position: relative;

      &::before {
        content: "";
        position: absolute;
        left: 0;
        top: rem(25px);
        width: 100%;
        height: rem(2px);
        background: var(--soft-red);
        transition: transform 0.5s ease-in-out;
        transform: scale(0);
        transform-origin: center;
      }

      &:hover {
        color: var(--soft-red);
        outline: none;

        &::before {
          transform: scale(1);
        }
      }
    }

    // hiding icon on none mobile nav
    &__icons {
      display: none;
    }
  }

  // laptop view -------------------------------
  @include respond-to("laptop") {
    &__item {
      & + & {
        margin-left: 3rem;
      }
    }
  }
}
