/*-----------------------------------------------*\
    #variables
\*-----------------------------------------------*/

:root {
  --soft-blue: hsl(231, 69%, 60%);
  --soft-red: hsl(0, 94%, 66%);
  --grayish-blue: hsl(229, 8%, 60%);
  --very-dark-blue: hsl(229, 31%, 21%);
  --black: hsl(0, 0%, 0%);
  --white: hsl(0, 100%, 100%);
}

// breakpoint
$breakPoints: (
  "tablet": 43em,
  "laptop": 62em,
  "desktop": 82em,
);
