/*-----------------------------------------------*\
    #variables
\*-----------------------------------------------*/

@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500&display=swap");

:root {
  // colors
  --soft-blue: hsl(231, 69%, 60%);
  --soft-red: hsl(0, 94%, 66%);
  --grayish-blue: hsl(229, 8%, 60%);
  --very-dark-blue: hsl(229, 31%, 21%);
  --black: hsl(0, 0%, 0%);
  --white: hsl(0, 100%, 100%);

  // fonts
  --primary-font: Rubik, sans-serif;
}

// breakpoint
$breakPoints: (
  "tablet": 43em,
  "laptop": 62em,
  "desktop": 82em,
);
